In [132]:
# Importing Libraries
import pandas as pd
import requests
import selenium
from selenium import webdriver
import time

driver_path=r'C:\Users\ADMIN\Documents\chromedriver.exe'
browser = webdriver.Chrome(executable_path=driver_path)

C:\Users\ADMIN\anaconda3\lib\site-packages\ipykernel_launcher.py:9: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  if __name__ == '__main__':

### python program to scrape data for “Data Analyst” Job position in“Bangalore” location.

In [88]:
browser.get("https://www.naukri.com/")

time.sleep(2)
##Entering “Data Analyst” in “Skill,Designations,Companies” field
title='data analyst'
job_title=browser.find_elements_by_id('qsb-keyword-sugg')
job_title[0].send_keys(title)
##Entering “Bangalore” in “enter the location” field.
job_location=browser.find_elements_by_id('qsb-location-sugg')
location='banglore'
job_location[0].send_keys(location)
##clicking
search_button=browser.find_elements_by_xpath("//button[@class='btn']")
search_button[0].click()

Job_details=browser.find_elements_by_xpath("//article[@class='jobTuple bgWhite br4 mb-8']")
job_data=[]
n=0
for a in Job_details:
        if n<11:
            n+=1
            job_data.append(a.text)
        else:
            pass

        raw_data=pd.DataFrame(job_data)[0].str.split('\n', n=-1, expand=True)
raw_data

C:\Users\ADMIN\anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

C:\Users\ADMIN\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:430: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")
C:\Users\ADMIN\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:470: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,Data Analyst - SAP,Boston Scientific Corporation,3-5 Yrs,Not disclosed,"Pune, Delhi, Bengaluru, Gurgaon",Purpose: Boston Scientific is looking for an e...,Business process,Computer science,Data validation,Data migration,SAP,Business transformation,SAP MM,Process improvement,PREMIUM,12 DAYS AGO,Save,None,None
1,Hiring Data Analysts on Contract,Flipkart Internet Private Limited,4.2,(2713 Reviews),2-5 Yrs,"3,00,000 - 6,00,000 PA.",Bengaluru,Hiring Data Analyst profile on the third-party...,Business Intelligence,Automation,Excel,Business Analytics,Data Analysis,Data Visualization,Data Mining,Data Analytics,HOT JOB,7 DAYS AGO,Save
2,Senior Data Analyst,Schneider Electric,4.2,(1220 Reviews),2-5 Yrs,Not disclosed,Bengaluru / Bangalore,Roles and Responsibilities Description - Exter...,database management,tableau,data analystics,sales analytics,business analytics,business analyst,business intelligence,ETL modelling,HOT JOB,8 DAYS AGO,Save
3,Data Analyst,Shell India Markets Private Limited,4.2,(524 Reviews),5-8 Yrs,Not disclosed,Bengaluru,Roles and Responsibilities The Data Analyst wi...,Data Validation,Excel,Data Management,Conditional Formatting,Formulas,Charts,Azure Data Lake,Pivot,HOT JOB,6 DAYS AGO,Save
4,Business / Data Analyst,IBM India Pvt. Limited,4.0,(8810 Reviews),2-4 Yrs,Not disclosed,Bengaluru,Roles and ResponsibilitiesYour Role and Respon...,IT Skills,Java,Python,Data Science,Machine Learning,Cloud,data processing,Influxdb,HOT JOB,15 DAYS AGO,Save
5,Intern Data Analyst,Outsource Big Data,0-1 Yrs,Not disclosed,Bengaluru,Good understanding / experience in web data ex...,Automation,Data management,Analytical,Data mining,Project delivery,Digital marketing,Analytics,SQL,7 DAYS AGO,Save,None,None,None
6,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,4.3,(779 Reviews),4-6 Yrs,Not disclosed,Bengaluru,Proven experience in successfully working in a...,R,data analysis,query optimization,Data Analysis,Data Modeling,SQL,Predictive Analytics,PREFERRED,1 DAY AGO,Save,None
7,Data Analyst,Reliance Jio Infocomm Ltd.,4.0,(8822 Reviews),8-9 Yrs,Not disclosed,Bengaluru,The candidate should be able to apply business...,Report generation,Data analysis,Data management,Machine learning,Data structures,Business modeling,Mobile applications,Data mining,5 DAYS AGO,Save,None
8,SENIOR DATA ANALYST,McAfee Software (India) Pvt. Ltd,3.9,(99 Reviews),7-12 Yrs,Not disclosed,Bengaluru,Role Overview: As a senior member of the Busin...,IT Skills,Data Science,Cloud,Tableau,Microstrategy,tableau,data science,Business Analyst,12 DAYS AGO,Save,None
9,Data Analyst,EZEU,2-7 Yrs,Not disclosed,Bengaluru,Roles and Responsibilities1. Research KPIs fro...,IT Skills,Python,Analysis Terminology,Data Analysis,ML Algorithm,Predictive Analysis,Python,PREMIUM,8 DAYS AGO,Save,None,None,None
10,Senior Data Analyst,Career Hotspot & Services,3-5 Yrs,Not disclosed,Bengaluru,Roles and ResponsibilitiesSenior Data AnalystW...,IT Skills,Python,Data Science,R,Database Principles,Data Manipulation,MS PowerBI,Problem Solving,PREMIUM,10 DAYS AGO,Save,None,None

In [133]:
browser.get("https://www.naukri.com/")

time.sleep(2)
##Entering “Data Scientist” in “Skill,Designations,Companies” field
title='Data Scientist'
job_title=browser.find_elements_by_id('qsb-keyword-sugg')
job_title[0].send_keys(title)

In [134]:
##clicking
search_button=browser.find_elements_by_xpath("//button[@class='btn']")
search_button[0].click()

In [148]:
##clicking for location
location_button=browser.find_elements_by_xpath("//span[@title='Delhi/NCR']")
location_button[0].click()

In [147]:
##clicking for salary
salary_button=browser.find_elements_by_xpath("//span[@title='3-6 Lakhs']")
salary_button[0].click()

In [149]:
Job_details=browser.find_elements_by_xpath("//article[@class='jobTuple bgWhite br4 mb-8']")
job_data=[]
n=0
for a in Job_details:
        if n<11:
            n+=1
            job_data.append(a.text)
        else:
            pass

        raw_data=pd.DataFrame(job_data)[0].str.split('\n', n=-1, expand=True)
raw_data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,Data Scientist,IBM India Pvt. Limited,4.0,(8810 Reviews),4-8 Yrs,Not disclosed,Gurgaon Gurugram,Should have hired and nurtured talent and grow...,IT Skills,Machine Learning,Big Data,Product Development,Open Source,Data Scientist,Artificial Intelligence,Big Data,HOT JOB,9 DAYS AGO,Save
1,JOB Opportunity For Celonis Data Scientists,ERM Placement Services (P) Ltd.,3-7 Yrs,Not disclosed,"Chennai, Pune, Delhi NCR, Bengaluru, Hyderabad...",Celonis Certified Data Scientists with at leas...,International Clients,Management Consulting,MCA,HOT JOB,JUST NOW,Save,None,None,None,None,None,None,None
2,Data Scientist,Ciena,4.3,(83 Reviews),5-6 Yrs,Not disclosed,Gurgaon Gurugram,Roles and ResponsibilitiesDIMENSION & SCOPEThe...,Business Intelligence Tools,Data Quality,Order Management,Excel,Master Data Management,Data Analysis,Data Modeling,Supply Chain Management,PREFERRED,7 DAYS AGO,Save
3,Data Scientist,Country Veggie,1-3 Yrs,Not disclosed,"Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Be...",Bachelor degree Experience with common data sc...,PDF,Data management,data science,Machine learning,Data collection,Predictive modeling,Data mining,Business solutions,16 DAYS AGO,Save,None,None,None
4,Data Scientist Machine Learning,Delhivery,4.2,(1247 Reviews),1-3 Yrs,Not disclosed,Gurgaon,Data Scientist Machine Learning Apply Descript...,algorithms,C++,operations,Simulation,Analytical,Machine learning,Tools,CMS,30+ DAYS AGO,Save,None
5,Business Analyst - Data Scientist,HyreFox Consultants Pvt Ltd,4.3,(14 Reviews),3-5 Yrs,Not disclosed,Gurgaon,BTech/ MCA/ MBA (IT) / M Sc (IT) / M Sc Maths/...,BPO,Automation,Project management,Analytical,ITES,Data mining,Forecasting,Operations,30+ DAYS AGO,Save,None
6,Analyst - Data Scientist,HyreFox Consultants Pvt Ltd,4.3,(14 Reviews),1-3 Yrs,Not disclosed,Gurgaon,BTech/ MCA/ MBA (IT) / M Sc (IT) / M Sc Maths/...,BPO,Automation,Project management,Analytical,ITES,Data mining,Forecasting,Operations,30+ DAYS AGO,Save,None
7,Data Scientist,Amity University,3.8,(524 Reviews),6-8 Yrs,"5,00,000 - 8,00,000 PA.","Faridabad, Delhi NCR, Ghaziabad",Bachelors / Masters in Mathematics / Computer ...,Artificial Intelligence,data scientist,Data Visualization,Tableau,Machine Learning,Python,PREFERRED,20 DAYS AGO,Save,None,None
8,Data Scientist,BlackBuck,3.6,(489 Reviews),3-7 Yrs,Not disclosed,"Bengaluru, Gurgaon",Some of the problem areas are Insights across ...,deep learning,Operations research,Image processing,data science,Machine learning,Programming,Sensors,Route planning,PREMIUM,30+ DAYS AGO,Save
9,Senior Data Scientist,iNICU,1-5 Yrs,Not disclosed,Delhi,Senior Data Scientist We are inviting applicat...,rest,python,data domain,Forecasting,sql,Computer science,java,spark,30+ DAYS AGO,Save,None,None,None
10,Senior Data Scientist - NLP,IRIS SOFTWARE Inc,3.3,(89 Reviews),4-9 Yrs,Not disclosed,Delhi NCR,Should have a strong background in machine lea...,IT Skills,Python,Data Science,Machine Learning,Artificial Intelligence,Pattern Recognition,NLP,Artificial Intelligence,HOT JOB,17 DAYS AGO,Save

#### GlassDoor Data

In [152]:
browser.get("https://www.glassdoor.co.in/Salaries/index.htm")

time.sleep(2)

In [153]:
##Entering “Data Scientist” in “Skill,Designations,Companies” field
title='Data Scientist'
job_title=browser.find_elements_by_id('KeywordSearch')
job_title[0].send_keys(title)

C:\Users\ADMIN\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:430: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [155]:
##Entering “Noida” in “enter the location” field.
job_location=browser.find_elements_by_id('LocationSearch')
location='noida'
job_location[0].send_keys(location)

In [156]:
##clicking search
search_button=browser.find_elements_by_id("HeroSearchButton")
search_button[0].click()

In [ ]:
min_salary=browser.find_elements_by_xpath("//a[contains(@href,'/reviews/')]")
max_salary=browser.find_elements_by_xpath("//p[@class='sans bold']")
company_name=browser.find_elements_by_xpath("//p[@class='genre-links hidden-phone']")
average_salary=browser.find_elements_by_xpath("//p[@class='excerpt']")
company_rating=browser.find_elements_by_xpath("//p")

In [167]:
min_salary=browser.find_elements_by_xpath("//div[@class='row no-gutters mx-0 py align-items-center css-1u4lhyp']")
min_salary[0].text()

TypeError: 'str' object is not callable

### Flipkart

In [168]:
browser.get("https://www.flipkart.com/")

time.sleep(2)

In [170]:
#closing login option
close_button=browser.find_elements_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
close_button[0].click()

In [172]:
## searching for glasses
search='sunglasses'
search_box=browser.find_elements_by_xpath("//input[@title='Search for products, brands and more']")
search_box[0].send_keys(search)

In [173]:
#clicking search
search_button=browser.find_elements_by_xpath("//button[@class='L0Z3Pu']")
search_button[0].click()

In [183]:
brand_name=browser.find_elements_by_xpath("//div[@class='_2WkVRV']")
specifications_short=browser.find_elements_by_xpath("//a[contains(@class,'IRpwTa')]")
price_rate=browser.find_elements_by_xpath("//div[@class='_30jeq3']")
discount_percent=browser.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

In [184]:
brand=[]
for a in brand_name:
    brand.append(a.text)

In [185]:
specifications=[]
for a in specifications_short:
    specifications.append(a.text)

In [186]:
price=[]
for a in price_rate:
    price.append(a.text)

In [187]:
discount=[]
for a in discount_percent:
    discount.append(a.text)

In [189]:
#clicking next page button
next_button=browser.find_elements_by_xpath("//a[@class='_1LKTO3']")
next_button[0].click()

C:\Users\ADMIN\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:470: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [190]:
brand_name=browser.find_elements_by_xpath("//div[@class='_2WkVRV']")
specifications_short=browser.find_elements_by_xpath("//a[contains(@class,'IRpwTa')]")
price_rate=browser.find_elements_by_xpath("//div[@class='_30jeq3']")
discount_percent=browser.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
for a in brand_name:
    brand.append(a.text)  
for a in specifications_short:
    specifications.append(a.text)
for a in price_rate:
    price.append(a.text)
for a in discount_percent:
    discount.append(a.text)

In [191]:
#clicking next page button
next_button=browser.find_elements_by_xpath("//a[@class='_1LKTO3']")
next_button[0].click()

In [192]:
brand_name=browser.find_elements_by_xpath("//div[@class='_2WkVRV']")
specifications_short=browser.find_elements_by_xpath("//a[contains(@class,'IRpwTa')]")
price_rate=browser.find_elements_by_xpath("//div[@class='_30jeq3']")
discount_percent=browser.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
for a in brand_name:
    brand.append(a.text)  
for a in specifications_short:
    specifications.append(a.text)
for a in price_rate:
    price.append(a.text)
for a in discount_percent:
    discount.append(a.text)

In [193]:
sunglasses_data=pd.DataFrame({'Brand Name':brand,'Specicications':specifications,'Price':price ,'Discount':discount})
sunglasses_data

,Brand Name,Specicications,Price,Discount
0,Royal Son,UV Protection Retro Square Sunglasses (49),₹664,66% off
1,hipe,UV Protection Sports Sunglasses (Free Size),₹299,84% off
2,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
3,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹599,33% off
4,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹499,37% off
...,...,...,...,...
115,Elegant,UV Protection Retro Square Sunglasses (Free Size),₹239,84% off
116,NuVew,"UV Protection, Night Vision, Riding Glasses Sp...",₹283,63% off
117,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹246,83% off
118,ALEYBEE,UV Protection Round Sunglasses (54),₹189,87% off
119,Royal Son,UV Protection Aviator Sunglasses (60),₹711,64% off

### Iphone review

In [234]:
browser.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.")

time.sleep(2)

In [235]:
#clicking on get all review button
all_button=browser.find_elements_by_xpath("//div[@class='_3UAT2v _16PBlm']")
all_button[0].click()

In [236]:
rating_star=browser.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
review_summary=browser.find_elements_by_xpath("//p[@class='_2-N8zT']")
fullreview=browser.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [238]:
rating=[]
review=[]
summary=[]
for a in rating_star:
    rating.append(a.text)  
for a in review_summary:
    review.append(a.text)
for a in fullreview:
    summary.append(a.text)

#clicking on get all review button
all_button=browser.find_elements_by_xpath("//a[@class='_1LKTO3']")
all_button[0].click()

In [239]:
rating_star=browser.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
review_summary=browser.find_elements_by_xpath("//p[@class='_2-N8zT']")
fullreview=browser.find_elements_by_xpath("//div[@class='t-ZTKy']")
for a in rating_star:
    rating.append(a.text)  
for a in review_summary:
    review.append(a.text)
for a in fullreview:
    summary.append(a.text)
    #clicking on get all review button
all_button=browser.find_elements_by_xpath("//a[@class='_1LKTO3']")
all_button[0].click()

In [240]:
rating_star=browser.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
review_summary=browser.find_elements_by_xpath("//p[@class='_2-N8zT']")
fullreview=browser.find_elements_by_xpath("//div[@class='t-ZTKy']")
for a in rating_star:
    rating.append(a.text)  
for a in review_summary:
    review.append(a.text)
for a in fullreview:
    summary.append(a.text)

In [241]:
iphone_review=pd.DataFrame({'rating':rating,'review':review,'summary':summary})
iphone_review

,rating,review,summary
0,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
1,5,Terrific,Really worth of money. i just love it. It is t...
2,5,Terrific purchase,Upgraded from iphone 6 to 11 best phone for ip...
3,5,Must buy!,It’s an amazing product from apple and the cam...
4,5,Mind-blowing purchase,This will help you more. See if you are planni...
5,5,Brilliant,"I have migrated from OP 7pro... and trust me, ..."
6,5,Worth every penny,Previously I was using one plus 3t it was a gr...
7,5,Wonderful,This is my first ever I phone. Before this I w...
8,5,Great product,Well you all know the specifications . One of ...
9,5,Highly recommended,It's my first time to use iOS phone and I am l...
10,5,Perfect product!,Amazing phone with great cameras and better ba...
11,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
12,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
13,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
14,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
15,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
16,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
17,5,Worth every penny,It’s been almost a month since I have been usi...
18,5,Wonderful,*Review after 10 months of usage*\nDoesn't see...
19,4,Nice product,Awesome Phone. Slightly high price but worth. ...